/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Raleway:100,200,300,400,500,600,700');

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

p, .benefits li, .card-lists li, .card-body p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.card-title i {
    font-size: 3rem;
}

/*smooth scroll*/

html {
    scroll-behavior: smooth;
}

/* paddings/margins/borders */

body {
    padding-top: 54px;
    /*Pushes 1st html element below navbar down, to avoid being covered by the fixed navbar */
}

/* Navbar */

/* Improves dropdown menu on Site Directory so it looks more like rest of navbar, for improved user experience */

.navbar a {
    color: #666666;
    font-weight: 500;
}

/* dropdown list hover color grey/blue to blend towards Bootstrap blue of item when selected */

.navbar a:hover {
    color: #66b5ff;
    font-weight: 700;
}

/* Containers */
/* Containers' code is based on code from the Whiskey Drop lesson*/

.callout-container {
    height: 82vh;
    /* allows info below the fold to show on most screens to encourage users to scroll down. */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.cc-home {
    background: url("../images/salkantay-50-50.jpg") center top no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cc-seh {
    background: url("../images/alex-grey-theologue-hd.jpg") no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cc-about {
    background: url("../images/augustin-family.jpg") no-repeat right 55% top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cc-rates {
    background: url("../images/mesas.jpg") no-repeat center bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cc-contact {
    background: url("../images/despacho-augustin-luis-50.jpg") no-repeat left 90% bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}



/* buttons */

.btn-contact {
    font-weight: bold;
    width: 160px;
}


.btn-terms-conditions {
    border: none;
}

.btn-terms-conditions:focus {
    box-shadow: none;
}

.btn-read-more {
    border: none;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;

}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    margin: 25px 0;
    color: white;
    font-weight: bold;
}

/* Mission Statement */

.mission {
    display: block;
    background-image: linear-gradient(to bottom, rgba(76,101,138,0), rgba(76,101,138,0.6));
}


/*Code from Slack by Simen Daehlin */

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Cards */


/* Footer */

/* Social links + hover*/

.fab {
    color: #263238;
    transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -webkit-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
}

/* transforms to real colour of icon, colors from https://www.webnots.com/color-codes-for-social-networking-site-icons/ */

.fa-linkedin:hover {
    color:  #0077b5;
}

.fa-facebook-square:hover {
    color:  #3b5998;
}


/* Media Qeries */

/* Fixes issues with navbar-toggler overflowing on to next line on small devices below 373px (img-fluid on navbar-brand image did not fix this) */

@media screen and (max-width: 992px) {
    .logo {
        width: 201px;
        height: 33px;
    }
    body {
        padding-top: 58px;
    }
}


/* Code snippet from https://teamtreehouse.com/community/change-the-size-of-paragraph-text-at-different-breakpoints-in-bootstrap-4 (slightly adjusted) */

/* Extra small devices (portrait phones, less than 576px) */

/* No media query since this is the default in Bootstrap */

p,
.benefits li,
.card-lists li,
.form-group,
.form-control {
    font-size: 1rem;
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    p,
    .benefits li,
    .card-lists li,
    .form-group,
    .form-control {
        font-size: 1.1rem;
    }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    p,
    .benefits li,
    .card-lists li,
    .form-group,
    .form-control {
        font-size: 1.2rem;
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .navbar li{
        font-size: 1.3rem;
    }
}

/*@media (min-width: 992px) {
    p,
    .benefits li,
    .card-lists li,
    .form-group,
    .form-control {
        font-size: 1.6rem;
    }
}*/

/* End of copied code snippet*/
