/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Raleway:100,200,300,400,500,600,700');

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

p,
.benefits li,
.card-lists li,
.card-body p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.card-title i {
    font-size: 3rem;
}

/*smooth scroll*/

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fefefa;
}


/* paddings/margins/borders */

/*----Pushes 1st html element below navbar down, to avoid being covered by the fixed navbar----*/

.fixed-top {
    padding-bottom: 10px;
}




/* Navbar */

main {
    margin-top: 58px;
}

/*
/* Improves dropdown menu on Site Directory so it looks more like rest of navbar, for improved user experience ----

.navbar a {
    color: #666666;
    font-weight: 500;
}

/* dropdown list hover color grey/blue to blend towards Bootstrap blue of item when selected --------

.navbar a:hover {
    color: #66b5ff;
    font-weight: 700;
}
*/

/* Containers */

/* Containers' code is based on code from the Whiskey Drop lesson*/

.callout-container {
    height: 85vh;
    /* allows info below the fold to show on most screens to encourage users to scroll down. */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.cc-home {
    background: url("../images/salkantay-50-50.jpg") center top no-repeat fixed;
    background-size: cover;
}

.cc-sh {
    background: url("../images/alex-grey-theologue-hd.jpg") no-repeat center bottom fixed;
    background-size: cover;
}

.cc-about {
    background: url("../images/agustin-family.jpg") no-repeat right 58% top fixed;
    background-size: cover;
}

.cc-rates {
    background: url("../images/4winds-ceremony-moray-landscape.jpg") no-repeat left 15% bottom fixed;
    background-size: cover;
}

.cc-contact {
    background: url("../images/despacho-augustin-luis-50-crop.jpg") no-repeat left 80% top 80% fixed;
    background-size: cover;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}



/* buttons */

.btn-contact {
    font-weight: bold;
    width: 170px;
}


.btn-terms-conditions {
    border: none;
}

.btn-terms-conditions:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-read-more {
    border: none;
}

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    margin: 25px 0;
    color: white;
    font-weight: bold;
}

/* Mission Statement */

.mission {
    display: block;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(76, 101, 138, 0)), to(rgba(133, 172, 254, 0.6)));
    background-image: -o-linear-gradient(top, rgba(76, 101, 138, 0), rgba(133, 172, 254, 0.6));
    background-image: linear-gradient(to bottom, rgba(76, 101, 138, 0), rgba(133, 172, 254, 0.6));
}


/*Code from Slack by Simen Daehlin */

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Cards */

/* Footer */

/* Social links + hover*/

.fab {
    color: #263238;
    transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -webkit-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
}

/* transforms to real colour of icon, colors from https://www.webnots.com/color-codes-for-social-networking-site-icons/ */

.fa-linkedin:hover {
    color: #0077b5;
}

.fa-facebook-square:hover {
    color: #3b5998;
}


/* FAQs - Accordion styling to improve UX */

.card-header {
    background-color: #d3d4d599;
}

.btn-link {
    color: #633fb5;
    font-weight: 400;
    text-decoration: none;
}

.btn-link:hover {
    color: #633fb5;
    font-weight: 700;
    text-decoration: none;
}

.btn-link:active {
    color: #633fb5;
    font-weight: 700;
    text-decoration: none;
}

.btn-link:visited {
    color: #633fb5;
    font-weight: 700;
    text-decoration: none;
}


/* Media Qeries */

/*----Pushes 1st html element below navbar down, to avoid being covered by the fixed navbar----*/

/*
@media screen and (max-width: 768px ) {
body {
    padding-top: -20px;
    }
}
*/

/* Changes size of navbar-brand so is in proportion and does not wrap toggler icon on small devices */

@media screen and (max-width: 576px) {
    .logo img {
        width: 150px;
        height: 24px;
    }
}


@media screen and (min-width: 576px) and (max-width: 768px) {
    .logo img {
        width: 184px;
        height: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .logo img {
        width: 201px;
        height: 33px;
    }
}

@media screen and (min-width: 992px) {
    .logo img {
        width: 267px;
        height: 44px;
    }
}

/* Code snippet from https://teamtreehouse.com/community/change-the-size-of-paragraph-text-at-different-breakpoints-in-bootstrap-4 (slightly adjusted) */

/* Extra small devices (portrait phones, less than 576px) */

/* No media query since this is the default in Bootstrap */

p,
.benefits li,
.card-lists li,
.form-group,
.form-control {
    font-size: 1rem;
}

/* Small devices (landscape phones, 576px and up) */

@media screen and (min-width: 576px) {
    p,
    .benefits li,
    .card-lists li,
    .form-group,
    .form-control {
        font-size: 1.1rem;
    }
}

/* Medium devices (tablets, 768px and up) */

@media screen and (min-width: 768px) {
    p,
    .benefits li,
    .card-lists li,
    .form-group,
    .form-control {
        font-size: 1.2rem;
    }
}

/* Large devices (desktops, 992px and up) */

@media screen and (min-width: 992px) {
    .navbar li {
        font-size: 1.3rem;
    }
}

/*@media (min-width: 992px) {
    p,
    .benefits li,
    .card-lists li,
    .form-group,
    .form-control {
        font-size: 1.6rem;
    }
}*/

/* End of modified code snippet*/

/* Fix for jumbotron text in cc-home being too large for i-phone 5/SE and Galaxy S5 */

@media screen and (max-width: 360px) {
    .cc-home .lead {
        font-size: 1rem;
    }
}

@media screen and (max-width: 360px) {
    .cc-home .jumbotron-header {
        font-size: 2rem;
    }
}

/* Videos on home page have long titles which wrap and change layout media query to fix this */

@media screen and (min-width: 992px) and  (max-width: 1080px){
    .home-videos-title {
        font-size: 0.75rem;
    }
}

@media screen and (min-width: 1080px) and (max-width: 1500px) {
    .home-videos-title {
        font-size: 1.0rem;
    }
}
