/* Fonts */

/* Colors */

/*smooth scroll*/
html {
  scroll-behavior: smooth;
}

/* paddings/margins/borders */

/* - Pushes 1st html element below navbar down, to avoid being covered by the fixed navbar */

body {
    padding-top: 54px;
}


/* Containers */

.callout-container {
    height: 100vh;

    background: lightblue url("../images/salkantay.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

/* buttons */



.btn--contact {
    font-weight: bold;
    width: 160px;
}


.btn--terms-conditions {
    border: none;
}

.btn--terms-conditions:focus {
    box-shadow: none;

}




/* Navbar */



/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}


.jumbotron-sub-heading {
    color: white;
    font-weight: bold;
}


.jumbotron .lead {
    margin: 25px 0;
    color: white;
    font-weight: bold;
}

/* Mission Statement */

/* articles */

/* videos */

/* footer */

/* social links + hover*/


/* Media Qeries */

/* Fixes issues with navbar-toggler overflowing on to next line on small devices below 373px */

/* (img-fluid on navbar-brand image did not fix this) */

@media screen and (max-width: 992px) {
    .logo {
        width: 201px;
        height: 33px;
    }
    body {
        padding-top: 58px;
    }
}


